// Body background

$body-background: #f0f0f0;

// Main font

$main-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Spacer

$spacing-unit: 2rem;

// Width of the content area
$content-width: 960px;
$on-laptop: 960px;

// Site title color
$site-title-color: #000;